<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Compilando PUG con NODEJS
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias tempora illum iste officia nemo eius est, saepe amet voluptate architecto? Dolores numquam accusamus soluta omnis perferendis fugiat ducimus sed!
        .perro
        #perro